<div class="container" id="containerCarouselIndex">
        <div id="carouselIndex" class="carousel slide" data-ride="carousel" data-pause="hover">
            <!-- Indicadores dos slides -->
            <ol class="carousel-indicators">
                <li data-target="#carouselIndex" data-slide-to="0" class="active"></li>
                <li data-target="#carouselIndex" data-slide-to="1"></li>
                <li data-target="#carouselIndex" data-slide-to="2"></li>
            </ol>

            <!-- Os slides -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100 " src="../../../assets/Imagens/imagem1Carousel.jpg" />
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 " src="../../../assets/Imagens/imagem2Carousel.jpg" />
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../..//assets/Imagens/imagem3Carousel.jpg" />
                </div>
            </div>

            <!-- Controles -->
            <a class="carousel-control-prev" href="#carouselIndex" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndex" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
        </div>
    </div>

    <br /><br /><br /><br /><br />
    <div class="container">
        <p id="pIndex">
            Dungeons & Dragons (abreviado como D&D ou DnD) é um RPG de alta fantasia desenvolvido originalmente por Gary
            Gygax e Dave Arneson, e publicado pela primeira vez em 1974 nos Estados Unidos pela TSR, Inc., empresa de
            Gary
            Gygax. Hoje o jogo é publicado pela Wizards of the Coast. Suas origens são os wargames de miniaturas
            (principalmente o Chainmail). A publicação do D&D é considerada como a origem dos RPGs modernos e foi
            lançada no
            Brasil pela Grow e em Portugal pela Sociedade Tipográfica S.A.
        </p>
        <p id="pIndex">
            Jogadores de D&D criam personagens que embarcam em aventuras imaginárias em que eles enfrentam monstros,
            reúnem
            tesouros, interagem entre si e ganham pontos de experiência para se tornarem incrivelmente poderosos à
            medida
            que o jogo avança. O D&D se destaca dos wargames tradicionais por permitir que cada jogador controle um
            personagem específico, ao invés de um exército. Miniaturas ou marcadores em um tabuleiro quadriculado são
            usados
            ocasionalmente para representar esses personagens. O D&D também apresentou o conceito de Mestre de Jogo
            (Dungeon
            Master ou DM, no original), que atua como juiz e narrador e é responsável por manter o cenário ficcional do
            jogo
            e aplicar as regras a cada situação descrita.
        </p>
    </div>
