@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('../../../styles.css');

a:link, a:visited, a:hover, a:active{
    color: rgb(73, 87, 80);
    font-weight: bolder;
}
.card
{
    max-height: 400%;
    max-width: 100%;
    margin-bottom: 2%;
}
caption{
    caption-side: top;
}
.container{
    max-width: 100%;
}
footer{
    position: fixed;
}
.main-collapse-header{
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    background-color: rgba(236, 36, 29, 0.568); 
    color: #fffffff6;
    font-weight: lighter;
    
}
.princi{
    text-align: left;
    color: #fffffff6;
    background-color: rgba(236, 36, 29, 0.89);
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: lighter;
    padding-top: 0rem;
    padding-bottom: 0rem;
}
textarea{
    resize: none;
}
.textCenter{
    text-align: center;
}
select, input[type=number], input[type=text], input[type=textarea], label, .parag, a{
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    font-size: 145%;
}